.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.lista-produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
.item{
    padding: 3%;
    width: 25%;
    max-width: 35%;
    height: 390px;
    max-height: 390px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.headerItem{

}
.headerItem h4{
    font-size: 1.375rem;
    color:slategray;
    font-weight: 700;
    margin: 0;
}
.bodyItem{

}
.price{
    font-size: 1rem;
    color: #000000;
    font-weight: 800;
}
.category{

}
.imageItem{

}
img{
    width: 30%;
    max-width: 50%;
    height: auto;
}